html, body{
    padding: 1rem;
    font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;
    color: #101828;
}

h2{
    font-weight: 400;
}

#page-wrapper{

    max-width: 1300px;
    padding: 60px 60px;
    margin: 0 auto;
    text-align: center;

}

#all-flags{

    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    gap: 0px;
    justify-content: left;

}

.cell{
    border: solid 2px #f8f8f8;
}





